<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @question.test_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Answer a:</strong>
  <%= @question.answer_a %>
</p>

<p>
  <strong>Answer b:</strong>
  <%= @question.answer_b %>
</p>

<p>
  <strong>Answer c:</strong>
  <%= @question.answer_c %>
</p>

<p>
  <strong>Answer d:</strong>
  <%= @question.answer_d %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @question.correct %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
