<p id="notice"><%= notice %></p>
<h1>Questions details</h1>
<p>
  <strong>Test:</strong>
  <%= question.test_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= question.content %>
</p>

<p>
  <strong>Correct query:</strong>
  <%= question.query%>
</p>



<%= link_to 'Edit', edit_test_question_path(question.test_id, question) %>
<%= link_to 'Back',  test_path(:id =>test.id) %>
