%p#notice= notice


%p
  %h3
    = @task.content

= form_tag(task_path, :method=>'get') do
  .form-group
    =text_field_tag :sql, @sql,class: 'form-control'
  =button_tag 'Execute query', value: 'show', type: :submit, class: 'btn btn-primary'
  =button_tag 'Check query', value: 'check', type: :submit, class: 'btn btn-danger'
  
%br

%h3 
  =@err

-if @zmienna2
  -if @button == 'show'
    %h3
      Result for your query
    %table.table
      %tr
      - @zmienna2.columns.each do |columns|
        %th= columns
      - @zmienna2.rows.each do |rows|
        %tr
        - rows.each do |tom|
          %td= tom


  -if @button == 'check'
    -if @zmienna2
      =@zmienna.to_hash
      %br
      %br
      =@zmienna2.to_hash
      -if @zmienna.to_hash == @zmienna2.to_hash
        %h3 Correct
      -else
        %h3 Incorrect

%br
%br


= link_to 'Back to task list', tasks_path, class: 'btn btn-default'
%br
%br

