<p id="notice"><%= notice %></p>

<p>
  
<%= @students_test.name %>
<br>
<%= @students_test.number_of_questions %>
<br>
<%= @students_test.random %>
<br><br>
<% @students_questions.each do |question| %>
<%= question.id %>
<br>
<%= question.content %>
<br><br>
<% end %>


<%= @tab %>
</p>


