= form_for [test, result] do |f|
  - if result.errors.any?
    #error_explanation
      %h2= "#{pluralize(result.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - result.errors.full_messages.each do |msg|
          %li= msg


  .form-group
    = f.label :Punkty
    = f.number_field :points
  .form-group
    = f.label :Ocena
    = f.select :mark, [2.0, 3.0, 3.5, 4.0, 4.5, 5.0]


  = f.submit 'Save'
