<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @result.student_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @result.points %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @result.mark %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
