%h1 Listing databases

%table.table
  %thead
    %tr
      %th Name
      %th Comment
      %th Adapter
      %th Encoding
      %th Host
      %th Pool
      %th Username
      %th Password
      %th Database
      %th
      %th
      %th

  %tbody
    - @databases.each do |database|
      %tr
        %td= database.name
        %td= database.comment
        %td= database.adapter
        %td= database.encoding
        %td= database.host
        %td= database.pool
        %td= database.username
        %td= database.password
        %td= database.database


        %td= link_to 'Edit', edit_database_path(database)
        %td= link_to 'Destroy', database, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Create new connection', new_database_path, class: 'btn btn-primary'
= link_to 'Back to the test list', tests_path, class: 'btn btn-primary'
