<p id="notice"><%= notice %></p>
<h1>Test details</h1>
<p>
  <strong>Name:</strong>
  <%= test.name %>
</p>

<p>
  <strong>Available:</strong>
  <%= test.available %>
</p>

<p>
  <strong>User:</strong>
  <%= test.user_id %>
</p>

<p>
  <strong>Number of questions:</strong>
  <%= test.number_of_questions %>
</p>

<p>
  <strong>Random:</strong>
  <%= test.random %>
</p>

<p>
  <strong>Time:</strong>
  <%= test.time %>
</p>

<p>
  <strong>Single test:</strong>
  <%= test.single_test %>
</p>

<p>
  <strong>Standard score:</strong>
  <%= test.standard_score %>
</p>

<p>
  <strong>Bdb:</strong>
  <%= test.bdb %>
</p>

<p>
  <strong>Bd:</strong>
  <%= test.bd %>
</p>

<p>
  <strong>Dost:</strong>
  <%= test.dost %>
</p>


<%= link_to 'Edit this test', edit_test_path(@test) %> |
<%= link_to 'Back to the test list', tests_path %>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Content</th>
      <th>Answer a</th>
      <th>Answer b</th>
      <th>Answer c</th>
      <th>Answer d</th>
      <th>Correct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% test.questions.each do |question| %>
      <tr>
        <td><%= question.test_id %></td>
        <td><%= question.content %></td>
        <td><%= question.answer_a %></td>
        <td><%= question.answer_b %></td>
        <td><%= question.answer_c %></td>
        <td><%= question.answer_d %></td>
        <td><%= question.correct %></td>
        <td><%= link_to 'Show', test_question_path(question.test_id, question)%></td>
        <td><%= link_to 'Edit', edit_test_question_path(question.test_id, question) %></td>
        <td><%= link_to 'Destroy', test_question_path(question.test_id, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Questions', new_test_question_path(:test_id => test.id) %>
<br><br>
