!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand
            -if user_signed_in?
              Hello, 
              = link_to(current_user.firstname+' '+ current_user.lastname, edit_user_registration_path)
             
              
              (
              = current_user.email
              )
            -else
              Hello, you're not logged in, if you not have an account register ...
        %p.nav.navbar-brand.navbar-right
          -if user_signed_in?
            = link_to('Logout', destroy_user_session_path,  :method=>'delete')
          -else
            = link_to('Login', new_user_session_path)
            or 
            = link_to('Sign up ', new_user_registration_path)
    .container-fluid
      .row
        .col-lg-12
             
          = yield
